{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Sugar Sense</title>
</head>
<body>
    <header>
        <!-- nav bar -->
        <nav>
            <h1>Sugar Sense</h1>
            <div class="links">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>

        <!-- hero content  -->
        <div class="hero">
            <div class="content">
                <h2>Diabetes Disease Prediction Using Machine Learning Algorithms</h2>
                <button><a href="{% url 'prediction' %}">Predict Here</a></button>
            </div>
        </div>

    </header>
    
</body>
</html>